html,body { overflow: hidden; margin: 0; padding: 0; }

:root {
	--monospace: Menlo,Consolas,monospace;
}

.alert { background-color: #fffad7; border: 1px solid #EDE8C8; padding: 15px; border-radius: var(--radius); color: #988e56; font-size: 12px; }
.alert i { margin-right: 5px; }
.ui-dark .alert { background-color: #4a4a38; border-color: #656450; color: #a59a7a; }
.ui-dark .alert a { color: #a59a7a; }

.bg-smoke { background-color: #F8F8F8; }
.ui-dark .bg-smoke { background-color: #282828; }

.inline-message { padding: 5px; border: 2px solid #68B25B; border-radius: 2px; font-size: 12px; color: #68B25B; margin-bottom: 10px; }
.inline-message i { margin-right: 3px; }
.inline-message-error { border-color: #D63A32; color: #D63A32; }

.ui-mainprogress { z-index: 1001; }
.dragenter { color: var(--color); }
a, .link { color: var(--color); }

.ui-templates .list { padding: 12px 10px; }
.ui-templates .list figure { cursor: pointer; }
.ui-templates .list figure > section { margin: -1px 10px 0; border-bottom: 1px solid #E0E0E0; padding: 10px 0; height: 40px; }
.ui-templates .list figure.selected { background-color: #F0F0F0; border-radius: var(--radius); }
.ui-templates .list figure.selected > section { border-bottom-color: transparent; }
.ui-templates .list figure:hover { background-color: #F0F0F0; border-radius: var(--radius); }
.ui-templates .list figure:hover > section { border-bottom-color: transparent; }
.ui-templates .list figure:last-child > section { border-bottom-color: transparent; }
.ui-templates .list figure > section > div { float: left; }
.ui-templates .list figure .name { line-height: 18px; padding: 2px 0 0; }
.ui-templates .list figure .name i { width: 14px; margin-right: 8px; }
.ui-templates .list figure .name span { font-size: 12px; }
.ui-templates .list figure .date { font-size: 12px; float: right; line-height: 22px; }
.ui-templates .list figure .date b { color: #888; font-weight: normal; }
.ui-templates .list figure .size { float: right; line-height: 22px; font-size: 12px; color: #999; margin-right: 10px; font-family: var(--monospace); }

.ui-dark .ui-templates .list figure > section { border-bottom-color: #404040; }
.ui-dark .ui-templates .list figure.selected { background-color: #303030; }
.ui-dark .ui-templates .list figure.selected > section { border-bottom-color: transparent; }
.ui-dark .ui-templates .list figure:hover { background-color: #303030; }
.ui-dark .ui-templates .list figure:hover > section { border-bottom-color: transparent; }
.ui-dark .ui-templates .list figure:last-child > section { border-bottom-color: transparent; }
.ui-dark .ui-templates .list figure .date b { color: #888; }
.ui-dark .ui-templates .list figure .size { color: #999; }

.ui-templates .up .name { font-size: 18px !important; }
.ui-templates .icons { padding: 10px; }
.ui-templates .icons figure { width: 100px; height: 100px; position: relative; display: inline-block; vertical-align: top; text-align: center; border-radius: var(--radius); cursor: pointer; overflow: hidden; }
.ui-templates .icons figure:hover { background-color: #F0F0F0; }
.ui-templates .icons figure .name { line-height: 12px; padding: 2px 0 0; font-size: 11px; width: 90%; margin: 0 auto; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.ui-templates .icons figure .icon { display: block; font-size: 35px; height: 50px; margin: 8px 0 0; }
.ui-templates .icons figure .name span { font-size: 12px; }
.ui-templates .icons figure .size { color: #999; font-size: 10px; }
.ui-templates .icons figure .meta { line-height: 14px; }

.ui-dark .ui-templates .icons figure:hover { background-color: #303030; }
.ui-dark .ui-templates .icons figure .size { color: #999; }

.toolbar { height: 60px; border-bottom: 1px solid #E0E0E0; padding: 11px 0 0 10px; }
.toolbar button { height: 35px; width: 35px; background-color: transparent; border: 0; border-radius: var(--radius); margin: 0 0 0 5px; float: left; }
.toolbar button.highlight { background-color: #F8F8F8; }
.toolbar button:hover { background-color: #F0F0F0; }
.toolbar button.selected { background-color: #F0F0F0; }
.toolbar hr { border: 0; border-left: 1px solid #E0E0E0; width: 1px; height: 35px; margin: 0 10px; float: left; }

.ui-dark .toolbar { border-bottom-color: #404040; }
.ui-dark .toolbar button { background-color: transparent; }
.ui-dark .toolbar button.highlight { background-color: #333; }
.ui-dark .toolbar button:hover { background-color: #353535; }
.ui-dark .toolbar button.selected { background-color: #353535; }
.ui-dark .toolbar hr { border-left-color: #404040; }

.breadcrumb { background-color: #F0F0F0; height: 30px; line-height: 30px; font-size: 12px; padding: 0 15px; border-bottom: 1px solid #E0E0E0; }
.breadcrumb span { float: left; cursor: pointer; }
.breadcrumb span:hover { text-decoration: underline; }
.breadcrumb i { width: 20px; text-align: center; float: left; line-height: 30px; }

.ui-dark .breadcrumb { background-color: #303030; border-bottom-color: #404040; }

.panel { background-color: transparent; border-radius: var(--radius); border: 1px solid #E0E0E0; }
.panel > label { display: block; padding: 15px 20px; border-bottom: 1px solid #E0E0E0; font-size: 16px; color: #000; font-weight: bold; border-radius: var(--radius) var(--radius) 0 0; }
.panel > label i { margin-right: 7px; }

.ui-dark .panel { background-color: transparent; border-color: #404040; }
.ui-dark .panel > label { border-bottom-color: #404040; color: #FFF; }
